.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.color-empty {
  fill: #eeeeee;
}
.color-scale-1 {
  fill: #d4f0e8;
}
.color-scale-2 {
  fill: #a4d4b7;
}
.color-scale-3 {
  fill: #69b38c;
}
.color-scale-4 {
  fill: #38a169;
}
